.DS_Store
node_modules
/dist
/build
/package

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports
.nyc_output

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

#Electron-builder output
/dist_electron
